<div class="body">
<h1 class="heading">
  Different caching strategy based on url
</h1>

  <div class="buttonBody">
    <button (click)="changeSource('bbc-news')" class="button">BBC</button>
    <button (click)="changeSource('cnn')" class="button">CNN</button>
    <button (click)="changeSource('mashable')" class="button">Mashable</button>
    <button (click)="changeSource('fortune')" class="button">Fortune</button>
    <button (click)="changeSource('cnbc')" class="button">CNBC</button>
  </div>

  <div class="news">
    <li *ngFor="let article of articles" class="list">{{article.description}}</li>
  </div>
</div>
